/*================ HERO SECTION ================*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.home-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 60px;
}


.hero-title {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--purple-color);
    z-index: 10;
    width: 100%;
}

.hero-title h1 {
    font-size: var(--h1-fs);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.hero-title h1 span {
    color: transparent;
    -webkit-text-stroke: 2px var(--background-color);
}

.hero-title p {
    font-size: 1.2rem;
    color: var(--light-pink);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img,
.video-slide {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    z-index: 10;
}

.slide-text p {
    font-size: 1rem;
    width: 45%;
}

.slide-text .visit-btn {
    margin-top: 10px;
    background-color: var(--purple-color);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid var(--purple-color);
    color: var(--background-color);
    transition: 0.6s linear;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.slide-text .visit-btn:hover {
    background-color: transparent;
    color: var(--purple-color);
    border: 2px solid var(--purple-color);
    outline: 2px solid var(--purple-color);
    outline-offset: 2px;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
    .hero-section {
        height: 400px;
        margin-top: 70px;
    }

    .hero-title {
        position: absolute;
        top: -11%;
        left: 50%;
    }

    .hero-title h1 {
        font-size: 35px;
    }

    .slide-text {
        position: absolute;
        bottom: 10%;
        left: 5%;
        color: white;
        z-index: 10;
    }

    .slide-text p {
        font-size: 1rem;
        width: 80%;
    }

    .hero-title h1 {
        font-size: 2.5rem;
    }

    .hero-title h2 {
        font-size: 2rem;
    }

    .hero-title p {
        font-size: 1rem;
    }

    .visit-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

@media (max-width: 500px) {
    .hero-title h1 {
        font-size: 35px;
    }

    .hero-title p {
        width: 70%;
        margin: 0 auto;
    }
}

/* ======================================ABOUT SECTION====================================== */
.church-history-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.history-headers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.small-header {
    font-size: var(--h3-fs);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--purple-color);
}

.small-header::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--purple-color);
    margin-right: 10px;
    vertical-align: baseline;
}

.big-header {
    font-size: var(--h2-fs);
    font-weight: 600;
    text-transform: uppercase;
}

.church-history-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.church-history-image-container {
    width: 49%;
    position: relative;
}

.church-history-image-container img {
    width: 90%;
    height: 90%;
    box-shadow: var(--grey-color) 10px 10px;
    object-fit: cover;
    border-radius: 0px;
}

.church-history-texts {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.church-history-texts h3 {
    font-size: var(--h4-fs);
    color: var(--black-color);
    font-weight: 600;
}

.church-history-texts p {
    font-size: var(--text-size);
    color: var(--text-color);
}

.read-more-btn {
    border: 2px solid var(--purple-color);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--purple-color);
    padding: 8px 16px;
    font-size: var(--text-size);
    transition: 0.6s linear;
}

.read-more-btn:hover {
    background-color: var(--light-pink);
    gap: 4px;
    outline: 2px solid var(--purple-color);
    outline-offset: 2px;
}

.read-more-btn .purple-icon:hover {
    transform: translateX(4px);
}

/* RESPONSIVENESS */
@media (max-width: 950px) {

    .church-history-section {
        padding-top: 10px;
        gap: 20px;
    }

    .church-history-contents {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .church-history-image-container {
        width: 100%;
    }

    .church-history-image-container img {
        width: 100%;
        height: 100%;
        box-shadow: var(--grey-color) 5px 5px;
    }

    .church-history-texts {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .church-history-section {
        padding-top: 140px;
        gap: 20px;
    }

    .church-history-image-container {
        width: 100%;
    }

    .small-header {
        font-size: 18px;
    }

    .big-header {
        font-size: 25px;
    }
}

/* ======================================MISSION AND VISION SECTION====================================== */
.mission-and-vision {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mission-and-vision .mission-and-vision-headers {
    text-align: center;
}

.mission-and-vision .mission-and-vision-headers .small-header-h3 {
    color: var(--text-color);
    font-size: var(--h3-fs);
    font-weight: 600
}

.mission-and-vision .mission-and-vision-contents {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
}

.mission-and-vision .mission-and-vision-contents .church-mission,
.mission-and-vision .mission-and-vision-contents .church-vision {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    color: var(--grey-color);
    margin: 20px auto;
    height: 220px;
    justify-content: center;
}

.mission-and-vision .mission-and-vision-contents .church-mission header,
.mission-and-vision .mission-and-vision-contents .church-vision header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    justify-content: left;
}

.mission-and-vision .mission-and-vision-contents .church-mission header h2,
.mission-and-vision .mission-and-vision-contents .church-vision header h2 {
    font-size: var(--h3-fs);
    color: var(--purple-color);
    font-weight: 400;
}

.mission-and-vision-icon {
    color: var(--purple-color);
    font-size: var(--h3-fs);
}

/* RESPONSIVENESS */
@media (max-width: 1000px) {
    .mission-and-vision-contents {
        flex-direction: column;
        width: 60%;
    }
}

@media (max-width: 500px) {
    .mission-and-vision .mission-and-vision-contents {
        flex-direction: column;
        width: 100%;
    }
}

/* ======================================SERVICES SECTION====================================== */
.services-section {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.services-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.services-contents-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-contents-left header h3 {
    font-size: 1rem;
    color: var(--purple-color);
    text-transform: uppercase;
    font-weight: 600;
}

.services-contents-left header h2 {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: var(--h3-fs);
}

.service-order {
    margin-bottom: 1rem;
}

.service-order h3 {
    font-size: var(--h3-fs);
    color: var(--title-color);
    font-weight: var(--h2-fw);
}

.service-order span {
    font-size: var(--text-size);
    color: var(--black-color);
    display: block;
    margin-bottom: 0.5rem;
}

.service-order p {
    font-size: var(--text-size);
    color: var(--text-color);
}

.services-image-right {
    width: 40%;
}

.services-image-right img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sermons-button {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background-color: var(--black-color);
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.6s linear;
}

.sermons-button:hover {
    opacity: 0.6;
}

.sermons-button a {
    color: var(--background-color);
}

.sermon-settings-btn {
    margin: 0 auto;
}


/* RESPONSIVENESS */
@media (max-width: 768px) {
    .services-contents {
        flex-direction: column;
        align-items: center;
    }

    .services-contents-left,
    .services-image-right {
        width: 100%;
    }

    .services-image-right img {
        margin-top: 1rem;
    }
}

/* =====================================Ministries Section===================================== */
.ministries-card {
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.6s ease;
}

.ministries-card:hover {
    transform: translateY(-10px);
    filter: grayscale(60%);
}

.ministries-card-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ministries-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.ministries-info {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ministries-title {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black-color);
}

.ministries-description {
    font-size: 0.9rem;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.ministries-info a {
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--purple-color);
    display: inline-block;
    text-align: left;
    margin-top: auto;
    width: fit-content;
    color: var(--purple-color);
    transition: 0.6s linear;
}

.ministries-info a:hover {
    background-color: var(--purple-color);
    color: var(--background-color);
}

.history-headers {
    text-align: center;
    margin-bottom: 2rem;
}

/* RESPONSIVENESS */
@media (max-width: 500px) {
    .ministries-card {
        height: 420px;
        border: 2px solid #ccc;
    }

    .ministries-img {
        height: 220px;
    }
}

/* =================== UPCOMING EVENTS =================== */
.events-section {
    margin-top: 6rem;
    background-image: url("../../assets/HeroImages/image2.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.events-headers {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.events-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.events-contents p,
.events-headers h1 {
    color: var(--background-color);
}

.events-contents a p {
    transition: 0.6s linear;
}

.events-contents a p:hover {
    color: var(--purple-color);
}

.events-contents a {
    display: flex;
    align-items: center;
    color: var(--background-color);
    justify-content: center;
    padding: 0.6rem 1.2rem;
    background-color: var(--purple-color);
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.6s linear;
    gap: 5px;
}

.events-contents a:hover {
    background: transparent;
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    gap: 10px;
}

@media (max-width: 500px) {
    .events-contents {
        padding: 10px;
        text-align: center;
    }
}

/*===========================-== CONTACT US AND LOCATION ===========================-==*/
.contact-us-contents {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.contact-us-contents form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.contact-us-contents form h1 {
    text-align: center;
    text-transform: capitalize;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

.name-field,
.contact-field,
.email-field,
.subject-field,
.content-field {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

.contact-us-contents form label {
    color: var(--text-color);
    font-weight: 500;
}

.contact-us-contents form input,
.contact-us-contents form textarea {
    outline: none;
    border: 1px solid var(--grey-color);
    padding: 0.7rem;
    background-color: var(--background-color);
    font-family: var(--text-ff);
}

.contact-us-contents form textarea {
    height: 120px;
    resize: none;
    font-family: var(--text-ff);
}

.contact-us-contents form button {
    padding: 0.7rem 1rem;
    color: #ffffff;
    background-color: var(--black-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-us-contents form button:hover {
    background-color: var(--grey-color);
}

.map-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .contact-us-contents {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-us-contents form,
    .map-section {
        width: 100%;
    }

    .location {
        min-height: 250px;
    }
}

@media (max-width: 768px) {

    .contact-us-contents form input,
    .contact-us-contents form textarea {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .contact-us-contents form button {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
}

@media (max-width: 480px) {
    .contact-us-contents form {
        padding: 1rem;
    }

    .location {
        min-height: 200px;
    }
}