/*================ HERO SECTION ================*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.home-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
