.navbar {
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5px solid var(--text-color);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-logo {
    height: 70px;
    width: auto;

}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-links a.active {
    color: var(--text-color);
}

.nav-item {
    text-decoration: none;
    color: #0d0c22;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item.active {
    color: var(--text-color);
}

.nav-item:hover {
    color: var(--text-color);
}

.nav-right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-button {
    background-color: var(--purple-color);
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 0px;
    text-align: center;
}

.contact-button.active {
    background-color: var(--light-pink);
    border: 1px solid var(--background-color);
}

.contact-button:hover {
    background-color: var(--light-pink);
}

.navbar-menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-icon {
    color: #0d0c22;
}

.hide-on-large {
    display: none;
}


@media screen and (max-width: 768px) {
    .navbar-container {
        display: flex;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        background-color: var(--light-pink);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        transition: right 0.3s ease;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
        gap: 20px;
    }

    .navbar-links.active {
        right: 0;
    }

    .navbar-links a {
        color: --back;
    }


    .navbar-menu-icon {
        display: block;
    }

    .large-screen-only {
        display: none;
    }

    .hide-on-small {
        display: none !important;
    }

    .hide-on-large {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .navbar-menu-icon {
        display: flex;
        position: relative;
    }
}

@media screen and (max-width: 450px) {
    .navbar-logo {
        height: 50px;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 70%;
        background-color: var(--light-pink);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        transition: right 0.3s ease;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
        gap: 20px;
    }
}